registry=https://registry.npmjs.org/
florasynth:registry=https://r.privjs.com/

//r.privjs.com/:username=${PRIVJS_USERNAME}
//r.privjs.com/:_password=${PRIVJS_PASSWORD_B64}
//r.privjs.com/:always-auth=true
